.background {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 400vh;
    background-image: url('./img/bk.png'); /* Adjust the path based on your folder structure */
    background-size: cover;
    background-position: center;
}
