@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Julius Sans One;
}
/* NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
}

.nav-names {
  flex-grow: 1;
  text-align: center;
}

.cart-icon {
  font-size: 1.2rem;
}

.cakelogo{
    width: 150px;
}
.nav-item{
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-weight: bold;
}