@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Julius Sans One;
}
/* Track */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #494346;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #494346;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
}

.nav-names {
  flex-grow: 1;
  text-align: center;
  margin: 20px 0;
}

.cakelogo {
  width: 150px;
}
.nav-item {
  font-size: 25px;
  text-decoration: none;
  color: white;
  padding: 0 20px;
  font-weight: bold;
  cursor: pointer;
}
.left-icon {
  color: #494346;
  font-size: 30px;
  margin: 20px 0;
  cursor: pointer;
}
.iconmain {
  margin: 0 15px;
}
